body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "teko", sans-serif;
  display: flex;
}

@font-face {
  font-family: "teko";
  src: local("teko"), url(font/Teko-Regular.ttf);
}

.main-image {
  width: 40vw;
  height: 100vh;
}

.left-container {
  position: relative;
  display: flex;
}

.main-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.5);
  width: 40vw;
  top: 20%;
  gap: 3%;
}

.rad {
  width: 10vw;
  margin: 1rem 0;
}

h1 {
  color: #fff;
  font-size: clamp(1.5rem, 4vw, 100px);
}
