body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "teko", sans-serif;
  display: flex;
  background-color: #222;
  color: #eee;
}

@font-face {
  font-family: "teko";
  src: local("teko"), url(font/Teko-Regular.ttf);
}

.main-image {
  width: 40vw;
  height: 100vh;
}

.left-container {
  position: relative;
}

.main-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.5);
  width: 40vw;
  top: 20%;
  gap: 3%;
}

.rad {
  width: 10vw;
  margin: 1rem 0;
}

h1 {
  color: #fff;
  font-size: clamp(1.5rem, 4vw, 100px);
}

.second-header {
  margin: 6rem 4rem 2rem 5%;
}

form {
  background-color: #333;
  width: 60vw;
  height: 50%;
}

input {
  appearance: none;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 0;
  box-sizing: border-box;
  height: 2rem;
  font-size: 1.25rem;
  padding-left: 10px;
  border-radius: 3px;
  width: 225px;
  box-shadow: inset 0px 0px 15px #222;
}

input:focus:valid {
  background-color: #222;
  border: 2px solid #30ffe0;
  box-shadow: inset 0px 0px 10px #30ffe0;
  color: #fff;
}

input:focus:invalid {
  background-color: #222;
  border: 2px solid #ff5555;
  box-shadow: inset 0px 0px 10px #ff5555;
  color: #fff;
}

input:invalid {
  background-color: #ff5555;
}

.form-row {
  display: flex;
  gap: 10%;
  margin: 0 30% 0 5%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 30px #bbb;
}

button {
  padding: 6px 75px 6px 75px;
  margin: 30px 0 0 5%;
  font: inherit;
  font-size: 1.5rem;
  box-shadow: inset 0px 0px 10px #222;
  border: inset;
}

button:hover {
  color: #222;
  background-color: #ffcc33;
  border: 3px dashed #222;
  box-shadow: inset 0px 0px 7px #eee;
}

.zone {
  color: #ffcc33;
}

a {
  color: #30ffe0;
}

a:hover {
  color: #ffcc33;
  text-decoration: underline dashed #ffcc33;
}

.link-paragraph {
  margin-left: 5%;
  font-size: 1.2rem;
}

.icon-credit {
  position: absolute;
  bottom: 0;
}
